/* FONTS========== */

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
/* OFFLINE */

  /* latin-offline */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ\(100\).woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin-offline */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/pxiEyp8kv8JHgFVrJJfecg\(300\).woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-offline */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ\(400\).woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-offline */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/pxiByp8kv8JHgFVrLDD4Z1xlFQ\(800\).woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

  /* *******************CODES STARTS FROM HERE****************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 100;
    transition: all 0.1s ease;
}
*::selection{
    background-color: var(--light);
    color: var(--gray-dark);
}

:root{
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --slight-grey: #525f7f;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #1d8cf8;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
    --bg-col: #171941;
    --dark: #212529;
    --default: #344675;
    --knight-dark: #0C1418;
    --tag-dark: #253237;
    --knight-red: #BC0D1A;
    --new-grey: #515151;
    --darker: black;
    --webkit-tap-highlight:  rgba(34, 42, 66, 0);
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: var(--webkit-tap-highlight);
    --top-spacing: 100px;
    --padding-inline: 10%;
    scroll-padding-top: var(--top-spacing);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--lighter);
    text-align: left;
    background-color: var(--knight-dark);
    /* margin: var(--top-spacing) auto; */
    background-image: url(../images/dots.png);
    background-size: contain;
}

a{
    text-decoration: none;
    color: var(--white);
}
a:hover{
    color: var(--light);
}

.loader_container{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 36, 33, 0.9);
    position: fixed;
    z-index: 200;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.loader_container.active{
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}

.bubblingG {
	text-align: center;
	width:78px;
	height:49px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgb(188,13,26);
	border-radius: 49px;
		-o-border-radius: 49px;
		-ms-border-radius: 49px;
		-webkit-border-radius: 49px;
		-moz-border-radius: 49px;
	animation: bubblingG 1.035s infinite alternate;
		-o-animation: bubblingG 1.035s infinite alternate;
		-ms-animation: bubblingG 1.035s infinite alternate;
		-webkit-animation: bubblingG 1.035s infinite alternate;
		-moz-animation: bubblingG 1.035s infinite alternate;
}


/* LOADER========== */
#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.3095s;
		-o-animation-delay: 0.3095s;
		-ms-animation-delay: 0.3095s;
		-webkit-animation-delay: 0.3095s;
		-moz-animation-delay: 0.3095s;
}

#bubblingG_3 {
	animation-delay: 0.619s;
		-o-animation-delay: 0.619s;
		-ms-animation-delay: 0.619s;
		-webkit-animation-delay: 0.619s;
		-moz-animation-delay: 0.619s;
}



@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(188,13,25);
		transform: translateY(0);
	}

	100% {
		width: 16px;
		height: 16px;
		background-color:rgb(255,255,255);
		transform: translateY(-20px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(188,13,25);
		-o-transform: translateY(0);
	}

	100% {
		width: 16px;
		height: 16px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-20px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(188,13,25);
		-ms-transform: translateY(0);
	}

	100% {
		width: 16px;
		height: 16px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-20px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(188,13,25);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 16px;
		height: 16px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(188,13,25);
		-moz-transform: translateY(0);
	}

	100% {
		width: 16px;
		height: 16px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-20px);
	}
}
.maximize_error_to_fit_screen{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 36, 33, 0.7);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    z-index: 100;
    .fa-times{
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 12px 18px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 19px;
    }.fa-times:hover{
        background-color: var(--tag-dark);
    }
    .popup_error{
        opacity: 0;
        scale: 0.7;
        width: 600px;
        height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid var(--knight-dark);
        align-items: center;
        gap: 20px;
        background-color: var(--tag-dark);
        background-size: contain;
        background-repeat: no-repeat;
        span{
           font-weight: 200;
           font-size: 16px;
        }
        button{
            border: 0;
            outline: 0;
            padding: 8px 30px;
            border-radius: 4px;
            font-size: 15px;
            cursor: pointer;
            font-weight: 200;
            color: var(--knight-dark);
        }
        button:hover{
            scale: 0.98;
            background-color: var(--light);
        }
    }

    @media (width < 640px) {
        .popup_error{
            width: 90%;
            border: 0;
            padding: 0;
            text-align: center;
            background-color: transparent;
        }
    }
}
.maximize_error_to_fit_screen.active{
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
    /* background: var(--knight-red); */

    .popup_error{
        opacity: 1;
        scale: 1;
    }
}


/* SEARCH POPUP TENOR */
.maximize_popup_on_search_click::-webkit-scrollbar{
    display: none;
}
.maximize_popup_on_search_click{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    flex-direction: column;
    gap: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: start;
    padding-inline: 10px;
    background-color: rgba(34, 36, 33, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* z-index: 99; */
    
    .search_query_display_layout, .search_query_display_layout_tv{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 8px;
        border-bottom: 1px solid var(--tag-dark);
        form{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            input{
                background: transparent;
                width: 500px;
                border-radius: 5px;
                border: 1px solid var(--tag-dark);
                outline: 0;
                padding: 4px 12px;
                color: var(--lighter);
            }
            input:focus{
                outline: 2px solid var(--knight-red);
            }
            button{
                padding: 5px 20px;
                background-color: var(--knight-red);
                color: var(--lighter);
                border: 0;
                outline: 0;
                cursor: pointer;
                border-radius: 5px;
            }
            @media (width < 800px) {
                input{
                    width: 60%;
                }
                button{
                    padding: 5px 0;
                    width: 20%;
                }
            }
            
        }
        .fa-times{
            position: absolute;
            /* top: 20px; */
            right: 10px;
            padding: 8px 12px;
            border-radius: 3px;
            cursor: pointer;
            font-size: 19px;
        }.fa-times:hover{
            background-color: var(--tag-dark);
        }
        @media (width < 500px) {
            .fa-times{
                right: 0;
            }
        }
    }
    .flex_search_query{
        width: 100%;
        display: grid;
        grid-auto-flow: row;
        grid-gap: 20px;
    }
    .bubblingG{
        margin: 0;
    }
    .random_names_before_search{
        .content-search{
            display: inline-flex;
            margin: 4px;
            flex-wrap: wrap;
           
            .meta_names_search{
                opacity: 0;
                scale: 0.6;
                transition: all 0.4s ease;
                display: inline-flex;
                flex-direction: row;
                background-color: var(--tag-dark);
                padding: 6px 10px;
                border-radius: 6px;
                color: var(--light);
                cursor: pointer;
                user-select: none;
            }
            .meta_names_search:hover{
                background: var(--light);
                color: var(--dark);
            }
            .meta_names_search.visible{
                opacity: 1;
                scale: 1;
            }
        }
    }
}
.maximize_popup_on_search_click.active{
    opacity: 1;
    pointer-events: auto;
    z-index: 99;
}

/* MAINWRAPPER ==== FIRST COMMIT *CSS* */
.main-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    position: fixed;
    z-index: 20;
    border-bottom: 0.2px solid var(--new-grey);
}
.main-wrapper.add_background{
    background-color: var(--knight-red);
}
.main-container .fa-bars{
 display: none;
 padding: 10px 15px;
 cursor: pointer;
 position: absolute;
 top: 8px;
 left: 10px;
 font-size: 17px;
 z-index: 100;
}
.fa-bars.change_color{
    color: var(--new-grey);
}

/* *MAINCONTAINER* */
.main-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
@media (width < 1000px) {
    .main-container{
        width: 90%;
    }
}

.main-container .logo-bar{
    display: flex;
    align-items: center;
    gap: 0px;
    z-index: 99;

    .logo-img{
        filter: saturate(3);
    }
}
/* *NAVBAR* */

.nav-bar{
    position: relative;
 .ul-bar{
    display: inline-flex;
    list-style: none;
    align-items: center;
    gap: 0px;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 14px;
        /* border-right: 0.23px ridge var(--new-grey); */
        a{
        display: flex;
        align-items: center;
        gap: 7px;
        background: transparent;
        color: var(--light);
        i{
            font-size: 11px;
        }
    }

}
li.active{
    background-color: var(--knight-red);
    border-block-start:0.6px solid #ccc;
    border-bottom: 2px solid var(--knight-red);
    z-index: 1;
    border-inline: 0.6px solid #ccc;
    a{
        color: var(--white);
    }
}
li:hover{
    background-color: var(--knight-red);
    a{
    color: var(--light);
    }
}
 }

 .mask-nav{
    position: absolute;
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 1px;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 70%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
    overflow: hidden;
    background: var(--light);
 }
}


/* ==SIDEBAR=== */
.nav-bar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .search-bar{
        padding: 1px 7px;
        i{
            color: var(--light);
        }
    }
    .search-bar:hover{
        background-color: var(--new-grey);
        border-radius: 2px;
        cursor: pointer;
    }
    .side-menu-bar{
        text-transform: uppercase;
        font-size: 14px;
        text-shadow: 0px 0px 4px black;
        font-weight: 400;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0;
        user-select: none;
        border-radius: 100vw;
        background: var(--slight-grey);
        border: 1px solid var(--bg-col);
    }
}
.side-bar {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-image: linear-gradient(var(--knight-red), var(--knight-dark));
    border-radius: 0;
    padding: 20px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 0;
    height: calc(100dvh - 45px);
    top: 45px;
    bottom: 0px;
    right: 0px;
    .ul-bar{
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        overflow: hidden;
        gap: 10px;
        li{
            justify-content: start;
            width: 100%;
            padding:10px 10px 10px 4px;
            /* border-bottom: 0.5px solid var(--knight-red); */
            border-right: 0;
            a{
                color: var(--lighter);
                display: flex;
                align-items: center;
               gap: 8px;
          }
       }
    }
    h3{
        width: 100%;
        text-align: center;
    }
}
.side-bar.active{
    opacity: 1;
    pointer-events: auto;
    width: 185px;
    li{
        padding: 0;
        width: 100%;
        /* border-bottom: 0.5px dotted var(--white); */
        a {
            opacity: 1;
           padding: 10px;
        }
    } li:hover{
        background: var(--knight-red);
        border-radius: 0;
        border-left: 3.4px solid var(--knight-dark);
        span{
            color: var(--light);
        }
    }
}

/* ==@MEDIASCREEN== */
@media (width < 950px) {
    .main-container{
        width: 100%;
        padding-inline-start: 50px;
        padding-inline-end: 30px;
    }
    .main-container .fa-bars{
        display: block;
    }
    .main-container .fa-bars:hover{
        color: var(--new-grey);
    }
    .fa-caret-down{
        opacity: 0;
    }
    .nav-bar {
        opacity: 0;
        position: absolute;
        background-color: var(--knight-red);
        border-radius: 0;
        padding: 20px 13px;
        overflow: hidden;
        width: 50px;
        height: calc(100dvh - 45px);
        top: 45px;
        bottom: 0px;
        left: -50px;
        .ul-bar{
            width: 160px;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            overflow: hidden;
            gap: 10px;
        }
        .ul-bar li{
            justify-content: start;
            width: 100%;
            padding:10px 10px 10px 4px;
            border-bottom: 0.5px solid var(--knight-red);
            border-right: 0;
           a{
            color: var(--lighter);
           }
        }
    }
    /* .nav-bar:hover{
        opacity: 1;
        width: 185px;
        li{
            width: 100%;
            padding: 0;
            border-bottom: 0.5px dotted var(--white);
           a{
            padding: 10px;
           }
        }
        li:hover{
            background: var(--white);
            border-radius: 0;
            span{
                color: var(--light);
            }
        }
    } */
    .nav-bar.active{
        opacity: 1;
        width: 185px;
        left: 0;
        li{
            padding: 0;
            width: 100%;
            border-bottom: 0.5px dotted var(--white);
            a {
                opacity: 1;
               padding: 10px;
            }
        } li:hover{
            background: var(--knight-red);
            border-radius: 0;
            border-left: 3.4px solid var(--knight-dark);
            span{
                color: var(--light);
            }
        }
        li.active{
            border-block-start: 0.6px solid transparent;
            border-block-end: 0.6px solid #ccc;
            background: var(--knight-dark);
            border-inline: 0.6px solid transparent;
        }
    }
}


/* AUTH */
.auth-credentials{display: flex; align-items: center; flex-wrap: wrap; gap: 14px;}
.auth-credentials a{
   display: inline-flex;
    
}
.auth-credentials .auth button{
    /* width: 90px; */
    display: inline-flex;
    border: 0;
    outline: 0;
    color: var(--white);
    padding-block: 3px;
    padding-inline: 15px;
    border-radius: 2px;
    background-color: var(--knight-red);
    border: 2px solid var(--knight-red);
    cursor: pointer;
}
.auth-credentials .auth button:hover{border: 2px solid var(--secondary);}
.auth-credentials .auth-credentials-signup{
    background: linear-gradient(45deg, var(--knight-red) 3%, var(--knight-dark) 120%);
}


/* @MEDIA IN XSMALLER SCREEN --NAVBAR--  */
@media (width < 500px) {
    .logo-img{
        width: 45px;
    }
    .logo-name{
        font-size: 15px;
    }
    .auth-credentials{
        align-items: start;
        gap: 9px;
    }
    .auth-credentials .auth button{
        padding-inline: 10px;
        padding-block: 5px;
        font-size: 12px;
        float: right;
    }
}
/* @MEDIA IN XSMALLER SCREEN --NAVBAR--  */
@media (width < 360px) {
    .logo-img{
        width: 30px;
    }
    .logo-name{
        font-size: 14px;
    }
    .auth-credentials{
        align-items: start;
        gap: 9px;
    }
    .main-container .fa-bars{
        font-size: 15px;
        top: 25px;
    }
    .auth-credentials .auth button{
        padding-inline: 10px;
        padding-block: 5px;
        font-size: 12px;
        float: right;
    }
}
/* @MEDIA IN XXSMALLER SCREEN --NAVBAR--  */
@media (width < 340px) {
    .main-container{
        padding-inline-start: 2.5rem;
        padding-inline-end: 1rem;
    }
   .nav-bar{
    top: 0;
    left: -186px;
    height: 100dvh;
    padding-top: 95px;
    padding-left: 20px;
    width: 185px;
    border-radius: 0;
   }
   .fa-caret-down{
    opacity: 0;
   }
   .fa-bars.fa-bars.change_color{
    color: var(--white);
   }
   .nav-bar.active{
    left: 0px;
   }
}

.alert{
   position: fixed;
   top: 50px;
   right: 20px;
   /* color: #00f2c3; */
   padding: 8px 25px;
   border-radius: 0;
   border: 1px solid var(--knight-dark);
   display: flex;
   align-items: center;
   gap: 10px;
   z-index: 99;
   animation: transform .8s ease forwards;
   button{
    font-size: 18px;
    color: var(--white);
    background-color: transparent;
    border: 0;
    outline: 0;
   }
}
@keyframes transform {
    from{transform: translateY(0); opacity: 1;}
    to{transform: translateY(20px); opacity: 1;}
}
.alert.active{
    animation: fadeOff .8s ease forwards;
    animation-delay: 1.3s;
}
@keyframes fadeOff {
    from{transform: translateY(20px); opacity: 1;}
    to{transform: translateY(0); opacity: 0;}
}
.alert.alert-danger{
    background-color: var(--knight-red);
    color: var(--lighter);
}
.alert.alert-success{
    background-color: var(--blue);
    color: var(--lighter);
}

/*  FIRST CONTENT MAIN PAGE */
.first-main-wrapper{
    width: 100%;
    padding-top: var(--top-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.first-main-container{
    width: 100%;
    display: flex;
    padding-inline: var(--padding-inline);
    justify-content: center;
    align-items: start;
    gap: 30px;
}


.first-main-content{
    margin-top: 6rem;
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    /* gap: 6px; */
    .p-text{
        width: 90%;
        color: transparent;
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 100%;
        -webkit-text-fill-color: var(--white);
        text-overflow: clip;
        background-image: linear-gradient(white, var(--green));
    }
   
    img{
        position: absolute;
        top: 40px;
        right: -50%;
        pointer-events: none;

    }
}


.text-h1{
    font-size: 3.5rem;
    line-height: 45px;
    font-weight: 400;
    margin-bottom: -.5rem;
    background-clip: text;
    background-repeat: no-repeat;
    color: transparent;
    background-size: 100%;
    text-transform: clip;
    background-image: linear-gradient(white, var(--knight-red));
}
.learn{
    color: var(--success);
    padding-inline:8px;
    font-size: small;
}
.main-text{
    position: relative;
    display: inline;
    width: 100%;
    padding-block: 20px;
    cursor: alias;
    overflow: hidden;
    line-height: 30px;
    margin-bottom: -.5rem;
}
.main-text .texting::before{
    display: inline;
    width: 100%;
    font-weight: 200;
    content: "Porlo Rumbo's Movieszone..";
    color: var(--text-clr);
    animation: words 20s infinite;
}
.main-text .texting::after{
    position: absolute;
    display: inline;
    font-weight: 200;
    content: "";
    background: var(--knight-dark);
    position: absolute;
    width: 100%;
    height: 30px;
     border-left: 3px solid var(--bg-col);
     right: -8px;
     animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--white);
    }
}
@keyframes words {
    0%,
    20%{
        content: "PorloRumbo's Movie Theatre.";
        color: var(--knight-red);
    }
    21%,
    40%{
        content: "PorloRumbo Cinemata Palace.";
        color: var(--cyan);
    }
    41%,
    60%{
        content: "PoloRumbo (Your Own Movie)";
        color: var(--lighter);
    }
    61%,
    80%{
        content: "Watch all Series, Movies & TVs.";
        color: var(--yellow);
    }
    81%,
    90%{
        content: "See Upcoming/Latest Movies.";
        color: var(--info);
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 54%;
    }
    5%,
    20%,
    25%,
    40%,
    60%,
    65%,
    80%,
    85%{
        width: 102%;
    }
}
.form-signup{
    height: 530px;
}
.form-login{
    height: 400px;
}
#form-container{
    opacity: 1;
    pointer-events: auto;
    width: 300px;
    /* height: 400px; */
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 3rem;
    background: var(--knight-dark);
    border: 0.2px ridge var(--dark);
    border-radius: 0px;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 9;
    box-shadow: 0px 0px 42px 8px rgba(54, 60, 83, 0.6);

    .credentials{
        flex: 0 0 101%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        img{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .login-name{
            /* position: absolute; */
            /* mix-blend-mode: difference; */
            color: transparent;
            background-clip: text;
            text-overflow: clip;
            background-size: 100%;
            background-image: linear-gradient(var(--knight-dark), var(--knight-red));
            align-self: self-start;
            justify-self: self-start;
            text-align: left;
            margin-left: -5px;
            z-index: 2;
            width: 100%;
            height: 150px;
            font-size: 70px;
            line-height: 80px;
            font-weight: 900;
            user-select: none;
        }

        /* FORM */
        form{
            padding-inline: 1rem;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .fieldbar{
                width: 100%;
                height: 30px;
                margin-top: .5rem;
                display: flex;
                justify-content: flex-start;
                border-radius: 0;
                border: 0.25px solid var(--dark);
                overflow: hidden;
                i{
                    width: 30px;
                    background: var(--knight-dark);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    color: var(--gray);
                    font-size: 12px;
                }
                input{
                    border: none;
                    outline: none;
                    border-radius: 0;
                    color: var(--light);
                    width: 100%;
                    background-color: var(--knight-dark);
                    padding-inline-start: 3px;
                    padding-inline-end: 10px;
                    font-size: 12px;
                }input[type=number]::-webkit-inner-spin-button{
                    display: none;
                }
              
            }
            .btn-submit{
                padding: 10px 30px;
                border-radius: 10px;
                border: 1px solid transparent;
                outline: 0;
                margin-block-start: 20px;
                margin-block-end: 12px;
                color: var(--white);
                background-color: var(--new-grey);
                font-weight: 500;
            }
            .btn-submit:hover{
                background-color: var(--white);
                border-color: var(--knight-dark);
                color: var(--knight-dark);
            }
            
            .alt-login{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a, span{
                    cursor: pointer;
                    font-size: 10px;
                    color: var(--knight-red);
                    font-weight: 100;
                    user-select: none;
                }
                label{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    cursor: pointer;
                    user-select: none;
                    font-size: 10px;
                    color: var(--slight-grey);
                    input{
                        accent-color: var(--knight-red);
                    }
                }
            }

        }

    }
}

@media (width < 1200px) {
    .first-main-container{
        flex-wrap: wrap;
    }
    .first-main-content{
        width: 100%;
        p{
            z-index: 2;
        }
        img{
            z-index: 1;
            top: 10%;
            right: -10px;
            opacity: 0.4;
        }
    }
}

@media (width < 800px) {
    .first-main-container{
        padding-inline-start: 2rem;
        padding-inline-end: 1rem;
        flex-direction: column;
        -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 70%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 70%, transparent);

    }
    .first-main-content{
        width: 100%;
        overflow: hidden;
        p{
            z-index: 2;
        }
        img{
            z-index: 0;
            top: 20%;
            right: -20%;
        }
    }
    #form-container{
        width: 300px;
        /* position: absolute; */
    }
}

@media (width < 600px) {
    .first-main-container{
        padding-inline: 1rem;
        -webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 0%,
            white 100%,
            transparent);
            mask: linear-gradient(90deg, transparent, white 0%, white 100%, transparent);

    }
}

/* =======HOMEPAGE!================ */
.page-container{
    margin-bottom: 3rem;
    width: 100%;
}
.title-layout-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
}
.movie-play-layout{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .p-tag{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
    }
}
.video_container{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    
    .video-wrapper{
        overflow: hidden;
        flex: 0 0 100%;
        position: absolute; 
        left: 0;
        opacity: 0;
        width: 96vw;
        display: none;
        /* translate: -6vh -5vh; */
        transition-property: overlay display opacity;
        transition-duration: 1s;
        transition-behavior: allow-discrete;
        height: 100vh;
        z-index: 2;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.visible{
        opacity: 1;
        display: flex;
        translate: 0 0;

        @starting-style{
            opacity: 0;
            /* translate: -6vh -5vh; */
        }

    }
} 
@keyframes slide-in {
    from{
        transform: translateX(140px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        display: flex;
    }
}
.slide-in{
    animation: slide-in 1s forwards;
}
.video-background{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask: linear-gradient(
        180deg,
    transparent,
    white 30%,
    white 60%,
    transparent
);
mask: linear-gradient(180deg, transparent, white 30%, white 60%, transparent);
    background-color: rgba(34, 36, 33, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    
}
.video-space{
    width:900px;
    height: 80%;
    /* z-index: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-block: 2px solid var(--knight-red);
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 95%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 95%, transparent);
    span{
        display: block;
        /* background-image: url(static); */
        background-repeat: no-repeat;
        background-position: 40% 30%;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
   
}
@media (width < 965px) {
    .video-space{
        width: 95vw;
    }
}
.video-content{
    display: inline-flex;
    gap: 20px;
    position: absolute;
    top: 25%;
    left: 30px;
    flex-direction: column;
    z-index: 2;
    .v-name{
        width: 600px;
        margin-bottom: 7px;
        font-weight: 400;
        font-size: 4vw;
        color: rgba(255, 255, 255, 0.7);
        background-clip: text;
        text-overflow: clip;
        background-size: 100%;
        background-image: linear-gradient(120deg, var(--lighter) 20%, var(--knight-dark) 60%, var(--knight-red) 120%);
        text-align: left;
        padding-block: 14px;
        line-height: 57px;
        text-shadow: 0px 0px 10px var(--knight-dark);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    @media (width < 900px) {
        .v-name{
            line-height: 30px;
        }
    }
    .v-buttons{
        /* width: 100vw; */
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
        button{
            border: 0;
            outline: 0;
            width: 130px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: var(--white);
            border-radius: 2px;
            background-color: rgba(34, 36, 33, 0.7);
        }
        button:hover{
            background-color: var(--white);
            color: var(--darker);
            scale: 0.96;
        }
    }
}
.video-description{
    
    z-index: 2;
    width: 30%;
    overflow: hidden;
    display: -webkit-box;
    text-shadow: 0px 0px 13px var(--knight-dark);
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
@media (width < 700px) {
    .video-content{
        position: absolute;
        top: 65%;
        left: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: block;
        padding-inline-start: 1rem;
        padding-block-end: 5rem;
        background: rgba(34, 36, 33, 0.2);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        .v-name{
            width: 100vw;
            line-height: 23px;
            text-align: center;
            margin-bottom: 10px;
        }
        .v-buttons{
            justify-content: center;
        }
    }
    .video-description{
        display: none;
    }
}
@media (width < 500px) {
 
    .video-content{
        width: 100vw;
        .v-name{
            font-size: 6vw;
            width: 100vw;
        }
        .v-buttons{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.movie-wrap-container{
    margin-top: 2rem;
}
.scroll-movies-wrapper, .movie-wrap-container{
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    z-index: 5;
    .nav-title{
        padding-inline: 10px;
        text-transform: title;
        font-size: 18px;
        font-weight: 400;
        color: var(--light);
    }
}
#header_for_search{
    font-weight: 400;

}
.wrap-movies-search{
    position: relative;
    .movie-container{
        opacity: 1;
        transition: all 0.3s ease;
        border-radius: 2px;
        padding: 0;
        border: 0px solid var(--new-grey);
        .movie-name-bar{
            span{
                width: 100%;
            }
        }
    }
    span{
        display: block;
        width: 100%;
        position: absolute;
        color: var(--light);
    }
}

.hrElement{
    /* position: absolute; */
    height: 5px;
    width: 96%;
    background-color: var(--knight-red);
    margin: 10px 0;
}


.wrap-movies, .wrap-movies-search{
    width: 100%;
    display: grid;
    /* justify-content: left; */
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    overflow-wrap: normal;
    flex-wrap: wrap;
}
.wrap-movies{
    padding-inline: 10px;
    margin-top: 20px;
}
.scroll-movies{
    padding-inline: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    overflow: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    .movie-container{
        width: 130px;
    }
}
.scroll-movies::-webkit-scrollbar{
    display: none;
}
.scroll-movies, .wrap-movies, .wrap-movies-search{
    width: 100%;
    gap: 10px;
   

    .movie-container{
        position: relative;   
        flex-shrink: 0;     
        /* width: 130px; */
        height: 200px;
        padding: 1px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        /* cursor: pointer; */
        background: var(--tag-dark);
        border: 1px solid var(--new-grey);
        .notify-bar{
            position: absolute;
            width: 50px;
            height: 60px;
            top: -35px;
            left: -20px;
            transform: rotate(45deg);
            background-color: var(--dark);
            border-right: 1px solid var(--new-grey);
            z-index: 1;
            i{
                position: absolute;
                right: 5px;
                top: 50%;
                font-size: 10px;
                color: var(--knight-red);
                transform: rotate(170deg);
            }
        }
        .movie-image-bar{
            width: 100%;
            height: 85%;
            overflow: hidden;
            img{
                inline-size: 100%;
                height: 100%;pointer-events: none;
            }
        }
        .movie-image-bar:hover{
            img{
                filter: brightness(55%);
            }
        }
        .movie-name-bar{
            width: 100%;
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 2px;
            border-top: 1px solid var(--new-grey);
            gap: 4px;
            span{
                font-size: 10px;
                width: 90%;
                overflow: hidden;
                display: -webkit-box;
                line-clamp: 1;
                user-select: none;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            i{
                width: 16px;
                height: 16px;
                display: flex;
                border-radius: 1px;
                align-items: center;
                justify-content: center;
            }
            i:hover{
                background: var(--new-grey);
            }
        }
    }

    .movie-container:hover{
        scale: 0.95;
    }

}
/* @media (width < 428px) {
    .wrap-movies{
        .movie-container{
            width: 110px;
            height: 170px;
        }
    }
} */

.move-left, .move-right{
    position: absolute;
    top: 15%;
    bottom: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    i{
        padding: 10px 4px;
        border-radius: 2px;
        color: var(--white);
        background-color: var(--new-grey);
        box-shadow: 0px 0px 12px var(--knight-dark);

    }
}

.move-left:hover{
    background-color: rgba(34, 36, 33, 0.6);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    mask: linear-gradient(90deg, transparent, white 0%, white 65%, transparent);
} 
.move-right:hover{
    background-color: rgba(34, 36, 33, 0.6);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    mask: linear-gradient(90deg, transparent, white 36%, white 100%, transparent);
}
.move-left{
    left: 0px;
    /* mask: linear-gradient(90deg, transparent, transparent 0%, transparent 65%, transparent); */
}
.move-right{
    right: 0px;
    /* mask: linear-gradient(90deg, transparent, transparent 36%, transparent 100%, transparent); */
}

.pagination{
    padding-inline: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--secondary-color);
}
.pagination ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.pagination ul li{
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid var(--knight-red);
    cursor: pointer;
    color: var(--lighter);
}
.pagination ul li:hover{
    scale: 1.1;
    background: var(--knight-dark);
}
.pagination ul li.active{
    background: var(--knight-red);
}