{%extends 'base.html'%}
{%block title%}Home{%endblock%}

{% block popup_failed_internet_provider %}
    <div class="maximize_error_to_fit_screen">
        <!-- <i class="fa fa-times"></i> -->
        <div class="popup_error">
            <span>There is a problem connecting to PorloRumbo. Please try again.</span>
            <p></p>
            <button data-refresh-page>Retry</button>
        </div>
    </div>

    <!-- popin search button -->
    {%block search_query%}
    <div class="maximize_popup_on_search_click">
        <div class="search_query_display_layout" data-popup-search>
            <form  method="get">
                <input type="search" name="search" id="search" placeholder="Search" autocomplete="off">
                <button type="submit">Search</button>
            </form>
           <i class="fa fa-times"></i>
        </div>

        <div class="flex_search_query">
            <h1>Search Query</h1>
            <div class="bubblingG" data-search-loader>
                <span id="bubblingG_1">
                </span>
                <span id="bubblingG_2">
                </span>
                <span id="bubblingG_3">
                </span>
              </div>
            <div class="random_names_before_search">
            </div>
        </div>
        <p class="fail_connection"></p>
        
        <h2 id="header_for_search"></h2>
        <div class="wrap-movies-search" data-wrap-search></div>
        <div class="bubblingG" data-search-img-loader>
            <span id="bubblingG_1">
            </span>
            <span id="bubblingG_2">
            </span>
            <span id="bubblingG_3">
            </span>
          </div>
        <template data-search-template>
            <div class="movie-container">
                <!-- <span class="notify-bar"><i class="fa-solid fa-star"></i></span> -->
                <div class="movie-image-bar">
                    <img src="{{url_for('static', filename='images/aqua.jpg')}}" alt="Movie Image">
                </div>
                <div class="movie-name-bar">
                    <span>Aqua Man and The Legendary Goat</span>
                    <!-- <i class="fa-solid fa-ellipsis-vertical"></i> -->
                </div>
            </div>
        </template>
    </div>
    {%endblock%}
{%endblock%}

{% block nav_container %}
<div class="main-container" style="width: 100%; padding-inline-start: 30px; padding-inline-end: 20px;">
            
    <!-- LOGOBAR -->
    <i class="fa-solid fa-bars" data-far-bars></i>
    <a href="" class="logo-bar">
        <img src="{{url_for('static', filename='images/porloLogo22.png')}}" alt="LOGOIMG" width="60px" class="logo-img">
        <h2 class="logo-name">PorloRumbo</h2>
        <!-- <h2 class="logo-name">PorloR</h2> -->
    </a>

    <!-- NAVBAR -->
    <!-- <i class="fa-solid fa-caret-down"></i> -->
    
    {%if user.is_authenticated %}
    {% block navbar%}
    <nav class="nav-bar" data-nav-bar>
        <ul class="ul-bar">
            <li class="list-unstyled active"><a href="/home"><i class="fa fa-home"></i><span>Home</span></a></li>
            <li class="list-unstyled"><a href="/tv"><i class="fa-solid fa-tv"></i><span>Tv</span></a></li>
            <li class="list-unstyled "><a href="/comedy"><i class="fa-solid fa-face-laugh-beam"></i><span>Comedy Shows</span></a></li>
            <li class="list-unstyled"><a href="/drame"><i class="fa-solid fa-bolt"></i><span>Drama</span></a></li>
            <li class="list-unstyled"><a href="/action"><i class="fa-solid fa-user-ninja"></i><span>Action</span></a></li>
        </ul>
        <div class="mask-nav"></div>
    </nav>
    {% endblock %}
    <!-- SIDEBAR -->
    <div class="nav-bar-right">
      <span class="search-bar" data-search-icon><i class="fa-solid fa-search"></i></span>
      <span class="side-menu-bar">{{user.fname[0]}}</span>
    </div>
    <nav class="side-bar" data-side-bar>
      <ul class="ul-bar">
          <li class="list-unstyled"><a href=""><i class="fa fa-user-circle"></i><span>Profile</span></a></li>
          <li class="list-unstyled"><a href=""><i class="fa-solid fa-cog"></i><span>Settings</span></a></li>
          <li class="list-unstyled"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Logout</span></a></li>
      </ul>
      <h3>Hi! {{user.fname.title().split()[0]}}</h3>
  </nav>

  {%else%}
    <!-- AUTH CREDENTIALS -->
    <div class="auth-credentials">
        <a href="/login#form-container" class="auth"><button type="button"  class="auth-credentials-login" data-sign-in>Login</button></a>
        <a href="/signup#form-container" class="auth"><button type="button" class="auth-credentials-signup" data-sign-up>SignUp</button></a>
    </div>

  {%endif%}
</div>
{%endblock%}
{%block body%}
<div class="page-container">
    <div class="title-layout-container">
        <div class="video-background"></div>
        <div class="movie-play-layout" data-movie-clip>
            <p class="p-tag">Loading....</p>
        </div>
        
        <template data-video-template>
            <div class="video_container">
            <div class="video-wrapper" data-video-wrapper>
                <div class="video-space"><span class="video" data-video-frame></span></div>
                <div class="video-content">
                    <h1 class="v-name" data-movie-text>The Magic Flute</h1>
                    <div class="v-buttons">
                        <button type="button"><i class="fa fa-caret-right"></i>&nbsp;Play</button>
                        <button type="button"><i class="fa fa-plus"></i>&nbsp;List</button>
                    </div>
                <span class="video-description" data-desc>
                    The UnRevealing Rapture Unvails the commitment of the Magic Flutexc
                </span>
                </div>
                  </div>
            </div>
        </template>
        <div class="scroll-movies-wrapper" style="margin-top: -7rem;">
            <h1 class="nav-title">Home</h1>
            <div class="scroll-movies" data-scroll-one></div>
            <template class="first-column-template">
                <div class="movie-container">
                    <span class="notify-bar"><i class="fa-solid fa-star"></i></span>
                    <div class="movie-image-bar">
                        <img src="{{url_for('static', filename='images/aqua.jpg')}}" alt="Movie Image">
                    </div>
                    <div class="movie-name-bar">
                        <span>Aqua Man and The Legendary Goat</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
               
            </template>

            <!-- MOVEBUTTON -->
            <div class="move-left" title="Previous"><i class="fa-solid fa-caret-left"></i></div>
            <div class="move-right" title="Next"><i class="fa-solid fa-caret-right"></i></div>
        </div>

        <!-- WRAP MOVIES -->
        <div class="movie-wrap-container">
            <div class="pop-text nav-title">Popular Movies to Watch</div>

            <div class="wrap-movies" data-wrap-movie>  </div>
            <template data-wrap-template>
                <div class="movie-container">
                    <span class="notify-bar"><i class="fa-solid fa-star"></i></span>
                    <div class="movie-image-bar">
                        <img src="{{url_for('static', filename='images/aqua.jpg')}}" alt="Movie Image">
                    </div>
                    <div class="movie-name-bar">
                        <span>Aqua Man and The Legendary Goat</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </template>
        </div>

        <div class="pagination">
            <ul>
                <li>Previous</li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li><p>....</p>
                <li>20</li>
                <li>Next</li>
            </ul>
        </div>

        <div class="scroll-movies-wrapper">
            <h1 class="nav-title">Tv's</h1>
            <div class="scroll-movies" data-scroll-two> </div>
            <template class="second-column-template">
                <div class="movie-container">
                    <span class="notify-bar"><i class="fa-solid fa-star"></i></span>
                    <div class="movie-image-bar">
                        <img src="{{url_for('static', filename='images/aqua.jpg')}}" alt="Movie Image">
                    </div>
                    <div class="movie-name-bar">
                        <span>Aqua Man and The Legendary Goat</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </template>

            <!-- MOVEBUTTON -->
            <div class="move-left" title="Previous"><i class="fa-solid fa-caret-left"></i></div>
            <div class="move-right" title="Next"><i class="fa-solid fa-caret-right"></i></div>
        </div>

        <!-- comedy -->
        <div class="scroll-movies-wrapper">
            <h1 class="nav-title">Comedy Shows</h1>
            <div class="scroll-movies" data-scroll-three></div>
            <template class="third-column-template">
                <div class="movie-container">
                    <span class="notify-bar"><i class="fa-solid fa-star"></i></span>
                    <div class="movie-image-bar">
                        <img src="{{url_for('static', filename='images/aqua.jpg')}}" alt="Movie Image">
                    </div>
                    <div class="movie-name-bar">
                        <span>Aqua Man and The Legendary Goat</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </template>

            <!-- MOVEBUTTON -->
            <div class="move-left" title="Previous"><i class="fa-solid fa-caret-left"></i></div>
            <div class="move-right" title="Next"><i class="fa-solid fa-caret-right"></i></div>
        </div>

        <!-- Drama -->
        <div class="scroll-movies-wrapper">
            <h1 class="nav-title">Drama</h1>
            <div class="scroll-movies" data-scroll-four></div>
            <template class="fourth-column-template">
                <div class="movie-container">
                    <span class="notify-bar"><i class="fa-solid fa-star"></i></span>
                    <div class="movie-image-bar">
                        <img src="{{url_for('static', filename='images/aqua.jpg')}}" alt="Movie Image">
                    </div>
                    <div class="movie-name-bar">
                        <span>Aqua Man and The Legendary Goat</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </template>

            <!-- MOVEBUTTON -->
            <div class="move-left" title="Previous"><i class="fa-solid fa-caret-left"></i></div>
            <div class="move-right" title="Next"><i class="fa-solid fa-caret-right"></i></div>
        </div>
    </div>
</div>

{%endblock%}

{%block scripts%}
<script src="{{url_for('static', filename='js/home.js')}}" defer></script>
<script src="{{url_for('static', filename='js/api.js')}}" defer></script>
<script src="{{url_for('static', filename='js/searchjson.js')}}" defer></script>
{%endblock%}