{% extends 'base.html' %}

{% block title %}Introduction{% endblock %}

{% block body %}
   
    <!--=================== MAIN PAGE WRAPPER=============== -->
    <main>
        <div class="first-main-wrapper">
            <div class="first-main-container">
                <div class="first-main-content">
                    <h1 class="text-h1">PorloRumbo Desktop Movies</h1>
                    <div class="main-text">
                        <h2 class="texting"></h2>
                    </div>
                    <span class="p-text">Based on a large amount of processing satellite and climate data, we provide satellite imagery, vegetation indices and weather data as well as analytical reports and crop monitoring. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis felis et quam pretium varius. Sed interdum. <a href="" class="learn"><i class="fa-solid fa-circle-info"></i>&nbsp;Learn about PorloRumbo</a>&nbsp;<a href="" class="learn"><i class="fa-solid fa-phone-volume"></i>&nbsp;Contacts</a>
                    </span>

                    <img src="{{url_for('static', filename='images/iStock-trans.png')}}" width="250px">
                </div>

                <!-- LOGIN & SIGNUP CREDENTIALS -->
                <div id="form-container" class="form-signup" data-form>

                   <!-- ==== SIGNUP ==== -->
                   <div class="credentials" id="signup">
                    <img src="{{url_for('static', filename='images/loginBackground.png')}}" width="250px" style="pointer-events: none;">
                        <div class="login-name">sign up</div>
                        <form  method="POST">
                            <div class="fieldbar">
                                <i class="fa-regular fa-user"></i>
                                <input type="fname" name="fname" id="fname" placeholder="Full Name">
                            </div>
                            <div class="fieldbar">
                                <i class="fa-solid fa-phone"></i>
                                <input type="number" name="number" id="number" placeholder="Phone No.">
                            </div>
                            <div class="fieldbar">
                                <i class="fa-regular fa-envelope"></i>
                                <input type="email" name="email1" id="email-signup" placeholder="Email">
                            </div>
                            <div class="fieldbar">
                                <i><ion-icon name="lock-closed-outline" class="lock"></ion-icon></i>
                                <input type="password" name="password1" id="password1" placeholder="Password">
                            </div>
                            <div class="fieldbar">
                                <i><ion-icon name="lock-closed-outline" class="lock"></ion-icon></i>
                                <input type="password" name="c-password" id="c-password" placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="btn-submit">Register</button>
                            <div class="alt-login">
                                <label for="checkbox"><input type="checkbox" name="checkbox" id="checkbox">Accept the Terms and Condition</label>
                                <a href="/login#form-container" class="auth"><span class="linked-signup" data-sign-in>SIGN IN</span></a>
                            </div>
                        </form>
                   </div>
                </div>
            </div>
        </div>
    </main>
{% endblock%}